# Sets
Sets don't allow duplicate element.<br>
Set automatically make ascending order of element and remove duplicate key.<br>

# Concatenation

In [3]:
my_set = {7,5,3,1,9,7}
my_set_char = {'g','b','c','a','e'}
print(my_set)
print(my_set_char)

{1, 3, 5, 7, 9}
{'c', 'a', 'e', 'b', 'g'}

# Slicing

In [ ]:
print(my_set[1]) # it gives error

# Concatenation

In [9]:
my_set.add(10)
print(my_set)
my_set_char.add('x')
print(my_set_char)

{1, 3, 5, 7, 9, 10}
{'c', 'a', 'x', 'e', 'b', 'g'}

# Union , Intersection , Difference
Union -> (A | B) All the value(common/un-common) of two set (avoiding duplication).<br>
Intersection -> (A & B) All the common values of sets.<br>
Difference -> (A - B) that means which value having a but not in b.<br>

In [20]:
my_set1 = {5,6,2,7,9,2,19}
my_set2 = {'y',5,2,7,'a',11}

print('union ',my_set2.union(my_set1))
print('intersection ',my_set2.intersection(my_set1))
print('difference ',my_set2.difference(my_set1))
print("set1 ",my_set1)
print('set2 ',my_set2)

union  {2, 5, 6, 7, 9, 11, 'a', 19, 'y'}
intersection  {2, 5, 7}
difference  {11, 'a', 'y'}
set1  {2, 5, 6, 7, 9, 19}
set2  {2, 5, 7, 11, 'a', 'y'}